.container {
    .advantage {
        h1 {
            padding-top: 49px;
            padding-bottom: 7px;
            color: #3d3d3d;
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
        }

        p {
            padding-bottom: 40px;
            text-align: center;
            color: #3d3d3d;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
        }

        .advantage__list {
            display: flex;
            justify-content: space-between;
            text-align: center;
            flex-wrap: wrap;

            .advantage__item {
                max-width: 200px;
                margin-bottom: 39px;
                margin: 0 auto;

                .advantage__item-img {
                    width: 148px;
                    height: 148px;
                    padding-top: 33px;
                    margin-left: 25px;
                    margin-bottom: 11px;
                    background-color: #f3f8fb;
                    border-radius: 100px;
                }

                img {
                    width: 85px;
                    height: 84px;
                }

                p {
                    color: #3d3d3d;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }

        .advantage__btn {
            display: flex;
            margin-bottom: 56px;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            gap: 28px;

            button {
                width: 224px;
                height: 40px;
                padding: 5px 15px;
                border-radius: 4px;
                border: 2px solid #27ace2;
                background-color: white;

                a {
                    color: #27ace2;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                a:hover {
                    color: white;
                }
            }

            button:hover {
                background-color: #27ace2;
                color: white;
            }
        }
    }
}

/* @media (max-width: 800px) {
    .advantage__list{
        display: block;
        text-align: center;
    }
 
   
    .registr_btn{
        margin-bottom: 10px;
    }
} */
/* 
@media (max-width: 600) {
    .advantage__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    .advantage__item{
        margin: 0 auto;
        margin-left: 30;
    }
} */

// @media (max-width: 320) {
//     .container {

//         .advantage {

//             h1 {
//                 color: var(--Text, #3d3d3d);
//                 text-align: center;
//                 font-size: 26px;
//                 font-weight: 700;
//             }
//         }
     
//         .advantage__list {
//             display: block;
//             align-items: center;
//             justify-content: center;
//         }
//         .advantage__item {
//             margin: 0 auto;
//         }
//     }
// }
